.styledButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.line{
    width: 2rem;
    height: 0.25rem;
    background: #f0f0f0;
    border-radius: 10px;
    transition:all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.openLine{
    background:#f0f0f0;
}

.openLine:nth-child(1){
    transform:rotate(45deg);
}
.openLine:nth-child(2){
    opacity: 0;
}
.openLine:nth-child(3){
    transform:rotate(-45deg);
}