.login{
    background: url(../../images/institute.jpeg); 
    /* url(../../images/institute.jpeg); khaki ;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 25vw;
    height: 50vh;
    background-color: rgba(255,255,255,0.55);
    
    border: 4px solid #124479;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2vh 2vh 2vh 2vh;
}

.field{

    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%; 
}

.field label{
    color: #124479;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.field input{
    width: 60%;
    height: 2rem;
    border:0;
    border-radius: 0.75rem;
    margin: 0.4rem;
    background-color: white;
    padding: 5%;
    box-sizing: border-box;
}

input:focus {
    outline:0;
}

.button{
    width:35%;
    height: 2.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background:#124479;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 2rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border:0px;
    cursor: pointer;
}

.line{
    width: 75%;
    height: 0.3rem;
    background-color: #124479;
    border: 0;
    border-radius:20%;

    
}